@model caes_donos.Models.Dono

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dono</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeDono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefoneDono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefoneDono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDono }) |
    @Html.ActionLink("Back to List", "Index")
</p>
