@model caes_donos.Models.Cao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeCao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdRaca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdRaca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeRaca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeRaca)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCao }) |
    @Html.ActionLink("Back to List", "Index")
</p>
