@model IEnumerable<caes_donos.Models.Cao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeCao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdRaca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeRaca)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdRaca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeRaca)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCao }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCao }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCao })
        </td>
    </tr>
}

</table>
